.clients {
  padding: 100px 0;
  overflow: hidden;
  margin-left: -10px;
  margin-right: -10px;
  filter: invert(1);
  white-space: nowrap;
  font-size: 0;
  line-height: 0;

  pointer-events: none;
  user-select: none;

  opacity: 0.25;

  @include from(sm) {
    margin-left: -20px;
    margin-right: -20px;
  }

  &-body {
    display: inline-block;
    vertical-align: middle;

    & > * {
      display: inline-block;
      vertical-align: middle;
      padding: 0 50px;
    }
  }
}