# macOS
.DS_Store

# Node
node_modules/

# Build / dev
src/
gulpfile.js

# Verification files
google*.html
yandex_*.html
pinterest-*.html

# Locks (optional)
yarn.lock
package-lock.json


# Languages (different at .ru/.com) (multi language redirect in config)
site/languages
site/config